.videos {
	margin: 20px 150px;
}

.videos_top {
    display: flex;
	justify-content: space-between;
    margin: 40px 0;
}

.title,
.modal_name_delete,
.modal_name_add {
	font-weight: bold;
	font-size: 24px;
	color: #0468be;
}

.btn_delete button {
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: crimson;
    background: none;
}

.btn_add button,
.modal_body button {
    font-weight: bold;
	color: #fff;
	background-color: #0468be;
	border-radius: 5px;
    padding: 8px 24px;
    border: none;
}

.modal_body button {
    margin:40px 243px;
}

.modal_name_delete {
    text-align: center;
}
